modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["google-drive:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
GOOGLE_CLIENT_ID = "341345751156-mvvqerb1ai56v61kpg5ctmq5khu8vvnq.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET = "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"
ALLOWED_ADMIN_EMAILS = "webmakerchile@gmail.com"
GOOGLE_CALLBACK_URL = "https://admin.webmakerchile.com/api/auth/google/callback"
