{"openapi":"3.1.0","info":{"title":"API de integración — Panel autoadministrable WebMaker","version":"1.0.0","description":"API server-to-server que expone los datos del panel autoadministrable de WebMaker (clientes, presupuestos, contratos, proyectos, mantenimiento, finanzas y tienda) hacia admin.webmakerlatam.com. Empezá por GET /manifiesto: ahí está explicado cómo funciona el panel, qué significa cada entidad y cómo se relacionan.","contact":{"name":"WebMakerChile SpA","email":"webmakerchile@gmail.com","url":"https://www.webmakerlatam.com"}},"servers":[{"url":"https://www.webmakerlatam.com","description":"Panel autoadministrable WebMaker"}],"security":[{"apiKey":[]}],"tags":[{"name":"descubrimiento","description":"Qué es este panel y qué expone."},{"name":"clientes","description":"Clientes."},{"name":"ventas","description":"Leads, presupuestos, catálogo y add-ons."},{"name":"proyectos","description":"Proyectos, tareas, bitácora y solicitudes de cambio."},{"name":"contratos","description":"Contratos de servicio firmados."},{"name":"mantenimiento","description":"Contratos recurrentes y cuotas mensuales."},{"name":"finanzas","description":"Pagos, ingresos, gastos y documentos tributarios."},{"name":"tienda","description":"Pedidos de la tienda online."},{"name":"equipo","description":"Colaboradores y contratos laborales."},{"name":"agregados","description":"KPIs y vistas consolidadas."},{"name":"sincronizacion","description":"Carga inicial, delta y push."},{"name":"escritura","description":"Escritura delegada: el sistema externo pide, el panel genera (tokens, links y cascada de firma)."}],"paths":{"/api/integration/v1/clientes":{"get":{"tags":["clientes"],"summary":"Listar clientes","description":"Empresas y personas contratantes. Es la entidad raíz: presupuestos, proyectos y contratos cuelgan de acá.","operationId":"listar_clientes","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"limite","in":"query","description":"Cantidad de filas (1-1000).","schema":{"type":"integer","default":100,"maximum":1000,"minimum":1}},{"name":"offset","in":"query","description":"Desplazamiento para paginar.","schema":{"type":"integer","default":0,"minimum":0}},{"name":"desde","in":"query","description":"Sólo registros con fecha >= ISO-8601 (sincronización incremental).","schema":{"type":"string","format":"date-time"}},{"name":"hasta","in":"query","description":"Sólo registros con fecha <= ISO-8601.","schema":{"type":"string","format":"date-time"}},{"name":"q","in":"query","description":"Búsqueda de texto sobre los campos relevantes del recurso.","schema":{"type":"string"}},{"name":"orden","in":"query","description":"Dirección del orden.","schema":{"type":"string","enum":["asc","desc"],"default":"desc"}},{"name":"campos","in":"query","description":"Proyección: lista de campos separados por coma.","schema":{"type":"string"}},{"name":"incluirContenido","in":"query","description":"Incluye textos largos (contratos, mensajes).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirSensibles","in":"query","description":"Incluye campos sensibles (requiere scope secrets).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirEnlaces","in":"query","description":"Con scope `links`, agrega `_enlaces` con las URLs públicas. Activo por defecto; pasá 0 para desactivar.","schema":{"type":"string","enum":["0","1"]}},{"name":"closerId","in":"query","description":"Closer asignado. Acepta varios valores separados por coma.","schema":{"type":"string"}}],"responses":{"200":{"description":"Listado paginado","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"recurso":{"type":"string"},"generadoEn":{"type":"string","format":"date-time"},"paginacion":{"$ref":"#/components/schemas/Paginacion"},"datos":{"type":"array","items":{"$ref":"#/components/schemas/clientes"}}}}}}},"401":{"$ref":"#/components/responses/NoAutorizado"},"429":{"$ref":"#/components/responses/RateLimit"}}},"post":{"tags":["escritura"],"summary":"Crear cliente (idempotente)","description":"Si ya existe un cliente con el mismo RUT o email, devuelve ese con `creado: false` en vez de duplicarlo.","operationId":"post_clientes","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"companyName":{"type":"string"},"rut":{"type":"string"},"billingRut":{"type":"string"},"contactName":{"type":"string"},"contactEmail":{"type":"string","format":"email"},"contactPhone":{"type":"string"},"address":{"type":"string"},"closerId":{"type":"string","format":"uuid"}},"required":["companyName"]}}}},"responses":{"200":{"description":"Ya existía: se devuelve el registro existente (`creado: false`)"},"201":{"description":"Creado. Incluye `_enlaces` con la URL pública si la credencial tiene scope `links`"},"400":{"description":"Cuerpo inválido: el campo `campos` detalla qué falta"},"409":{"description":"Transición no permitida (firmar/aprobar) o registro ya cerrado"}}}},"/api/integration/v1/clientes/{id}":{"get":{"tags":["clientes"],"summary":"Detalle de clientes","operationId":"obtener_clientes","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"incluirSensibles","in":"query","schema":{"type":"string","enum":["0","1"]}}],"responses":{"200":{"description":"Registro con sus relaciones directas"},"404":{"description":"No encontrado"}}}},"/api/integration/v1/presupuestos":{"get":{"tags":["ventas"],"summary":"Listar presupuestos (propuestas)","description":"Cotizaciones enviadas al cliente. Al aprobarse generan proyecto y, si corresponde, contrato de servicio y contrato de mantenimiento.","operationId":"listar_presupuestos","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"limite","in":"query","description":"Cantidad de filas (1-1000).","schema":{"type":"integer","default":100,"maximum":1000,"minimum":1}},{"name":"offset","in":"query","description":"Desplazamiento para paginar.","schema":{"type":"integer","default":0,"minimum":0}},{"name":"desde","in":"query","description":"Sólo registros con fecha >= ISO-8601 (sincronización incremental).","schema":{"type":"string","format":"date-time"}},{"name":"hasta","in":"query","description":"Sólo registros con fecha <= ISO-8601.","schema":{"type":"string","format":"date-time"}},{"name":"q","in":"query","description":"Búsqueda de texto sobre los campos relevantes del recurso.","schema":{"type":"string"}},{"name":"orden","in":"query","description":"Dirección del orden.","schema":{"type":"string","enum":["asc","desc"],"default":"desc"}},{"name":"campos","in":"query","description":"Proyección: lista de campos separados por coma.","schema":{"type":"string"}},{"name":"incluirContenido","in":"query","description":"Incluye textos largos (contratos, mensajes).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirSensibles","in":"query","description":"Incluye campos sensibles (requiere scope secrets).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirEnlaces","in":"query","description":"Con scope `links`, agrega `_enlaces` con las URLs públicas. Activo por defecto; pasá 0 para desactivar.","schema":{"type":"string","enum":["0","1"]}},{"name":"estado","in":"query","description":"DRAFT|SENT|VIEWED|APPROVED|REJECTED|EXPIRED. Acepta varios valores separados por coma.","schema":{"type":"string"}},{"name":"clienteId","in":"query","description":"ID del cliente. Acepta varios valores separados por coma.","schema":{"type":"string"}},{"name":"closerId","in":"query","description":"Closer responsable. Acepta varios valores separados por coma.","schema":{"type":"string"}}],"responses":{"200":{"description":"Listado paginado","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"recurso":{"type":"string"},"generadoEn":{"type":"string","format":"date-time"},"paginacion":{"$ref":"#/components/schemas/Paginacion"},"datos":{"type":"array","items":{"$ref":"#/components/schemas/presupuestos"}}}}}}},"401":{"$ref":"#/components/responses/NoAutorizado"},"429":{"$ref":"#/components/responses/RateLimit"}}},"post":{"tags":["escritura"],"summary":"Crear presupuesto con sus ítems","description":"El panel calcula subtotal, descuento, IVA y total, y genera el link público de la propuesta. Aceptá `clienteId` o mandá el objeto `cliente` para crearlo en la misma llamada.","operationId":"post_presupuestos","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"clienteId":{"type":"string","format":"uuid"},"cliente":{"type":"object","description":"Alternativa a clienteId: crea o reutiliza el cliente."},"items":{"type":"array","minItems":1,"items":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"quantity":{"type":"integer","default":1},"unitPrice":{"type":"integer","description":"CLP entero, sin IVA"},"serviceId":{"type":"string","format":"uuid"}},"required":["name","unitPrice"]}},"hasIVA":{"type":"boolean","default":true},"discount":{"type":"integer","default":0},"paymentModality":{"type":"string","enum":["STANDARD","MILESTONES","FULL_ADVANCE","INSTALLMENTS","CUSTOM"]},"installmentCount":{"type":"integer"},"customPaymentTerms":{"type":"string"},"maintenanceType":{"type":"string","enum":["NONE","TO_BE_DEFINED","CUSTOM"]},"monthlyMaintenance":{"type":"integer"},"notes":{"type":"string"},"validUntil":{"type":"string","format":"date-time"},"includeContract":{"type":"boolean","default":true},"closerId":{"type":"string","format":"uuid"},"estado":{"type":"string","enum":["DRAFT","SENT"],"default":"DRAFT"}},"required":["items"]}}}},"responses":{"200":{"description":"Ya existía: se devuelve el registro existente (`creado: false`)"},"201":{"description":"Creado. Incluye `_enlaces` con la URL pública si la credencial tiene scope `links`"},"400":{"description":"Cuerpo inválido: el campo `campos` detalla qué falta"},"409":{"description":"Transición no permitida (firmar/aprobar) o registro ya cerrado"}}}},"/api/integration/v1/presupuestos/{id}":{"get":{"tags":["ventas"],"summary":"Detalle de presupuestos (propuestas)","operationId":"obtener_presupuestos","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"incluirSensibles","in":"query","schema":{"type":"string","enum":["0","1"]}}],"responses":{"200":{"description":"Registro con sus relaciones directas"},"404":{"description":"No encontrado"}}},"patch":{"tags":["escritura"],"summary":"Actualizar presupuesto","description":"Cambia estado (DRAFT, SENT, REJECTED, EXPIRED), notas y vigencia. APPROVED devuelve 409: aprobar dispara proyecto + Drive + emails y va por el link del cliente.","operationId":"patch_presupuestos_id","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"estado":{"type":"string","enum":["DRAFT","SENT","REJECTED","EXPIRED"]},"notes":{"type":"string"},"validUntil":{"type":"string","format":"date-time"}},"required":[]}}}},"responses":{"200":{"description":"Ya existía: se devuelve el registro existente (`creado: false`)"},"201":{"description":"Creado. Incluye `_enlaces` con la URL pública si la credencial tiene scope `links`"},"400":{"description":"Cuerpo inválido: el campo `campos` detalla qué falta"},"409":{"description":"Transición no permitida (firmar/aprobar) o registro ya cerrado"}}}},"/api/integration/v1/proyectos":{"get":{"tags":["proyectos"],"summary":"Listar proyectos","description":"Trabajo en ejecución nacido de un presupuesto aprobado. Avanza por fases MOCKUP → DEVELOPMENT → QA → DELIVERY → COMPLETED.","operationId":"listar_proyectos","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"limite","in":"query","description":"Cantidad de filas (1-1000).","schema":{"type":"integer","default":100,"maximum":1000,"minimum":1}},{"name":"offset","in":"query","description":"Desplazamiento para paginar.","schema":{"type":"integer","default":0,"minimum":0}},{"name":"desde","in":"query","description":"Sólo registros con fecha >= ISO-8601 (sincronización incremental).","schema":{"type":"string","format":"date-time"}},{"name":"hasta","in":"query","description":"Sólo registros con fecha <= ISO-8601.","schema":{"type":"string","format":"date-time"}},{"name":"q","in":"query","description":"Búsqueda de texto sobre los campos relevantes del recurso.","schema":{"type":"string"}},{"name":"orden","in":"query","description":"Dirección del orden.","schema":{"type":"string","enum":["asc","desc"],"default":"desc"}},{"name":"campos","in":"query","description":"Proyección: lista de campos separados por coma.","schema":{"type":"string"}},{"name":"incluirContenido","in":"query","description":"Incluye textos largos (contratos, mensajes).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirSensibles","in":"query","description":"Incluye campos sensibles (requiere scope secrets).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirEnlaces","in":"query","description":"Con scope `links`, agrega `_enlaces` con las URLs públicas. Activo por defecto; pasá 0 para desactivar.","schema":{"type":"string","enum":["0","1"]}},{"name":"estado","in":"query","description":"MOCKUP|DEVELOPMENT|QA|DELIVERY|COMPLETED. Acepta varios valores separados por coma.","schema":{"type":"string"}},{"name":"clienteId","in":"query","description":"ID del cliente. Acepta varios valores separados por coma.","schema":{"type":"string"}},{"name":"desarrolladorId","in":"query","description":"Desarrollador asignado. Acepta varios valores separados por coma.","schema":{"type":"string"}}],"responses":{"200":{"description":"Listado paginado","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"recurso":{"type":"string"},"generadoEn":{"type":"string","format":"date-time"},"paginacion":{"$ref":"#/components/schemas/Paginacion"},"datos":{"type":"array","items":{"$ref":"#/components/schemas/proyectos"}}}}}}},"401":{"$ref":"#/components/responses/NoAutorizado"},"429":{"$ref":"#/components/responses/RateLimit"}}}},"/api/integration/v1/proyectos/{id}":{"get":{"tags":["proyectos"],"summary":"Detalle de proyectos","operationId":"obtener_proyectos","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"incluirSensibles","in":"query","schema":{"type":"string","enum":["0","1"]}}],"responses":{"200":{"description":"Registro con sus relaciones directas"},"404":{"description":"No encontrado"}}}},"/api/integration/v1/tareas":{"get":{"tags":["proyectos"],"summary":"Listar tareas de proyecto","description":"Checklist por fase de cada proyecto; define el % de avance visible en el portal del cliente.","operationId":"listar_tareas","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"limite","in":"query","description":"Cantidad de filas (1-1000).","schema":{"type":"integer","default":100,"maximum":1000,"minimum":1}},{"name":"offset","in":"query","description":"Desplazamiento para paginar.","schema":{"type":"integer","default":0,"minimum":0}},{"name":"desde","in":"query","description":"Sólo registros con fecha >= ISO-8601 (sincronización incremental).","schema":{"type":"string","format":"date-time"}},{"name":"hasta","in":"query","description":"Sólo registros con fecha <= ISO-8601.","schema":{"type":"string","format":"date-time"}},{"name":"q","in":"query","description":"Búsqueda de texto sobre los campos relevantes del recurso.","schema":{"type":"string"}},{"name":"orden","in":"query","description":"Dirección del orden.","schema":{"type":"string","enum":["asc","desc"],"default":"desc"}},{"name":"campos","in":"query","description":"Proyección: lista de campos separados por coma.","schema":{"type":"string"}},{"name":"incluirContenido","in":"query","description":"Incluye textos largos (contratos, mensajes).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirSensibles","in":"query","description":"Incluye campos sensibles (requiere scope secrets).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirEnlaces","in":"query","description":"Con scope `links`, agrega `_enlaces` con las URLs públicas. Activo por defecto; pasá 0 para desactivar.","schema":{"type":"string","enum":["0","1"]}},{"name":"proyectoId","in":"query","description":"ID del proyecto. Acepta varios valores separados por coma.","schema":{"type":"string"}},{"name":"estado","in":"query","description":"pending|in_progress|completed. Acepta varios valores separados por coma.","schema":{"type":"string"}},{"name":"fase","in":"query","description":"Fase del proyecto. Acepta varios valores separados por coma.","schema":{"type":"string"}}],"responses":{"200":{"description":"Listado paginado","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"recurso":{"type":"string"},"generadoEn":{"type":"string","format":"date-time"},"paginacion":{"$ref":"#/components/schemas/Paginacion"},"datos":{"type":"array","items":{"$ref":"#/components/schemas/tareas"}}}}}}},"401":{"$ref":"#/components/responses/NoAutorizado"},"429":{"$ref":"#/components/responses/RateLimit"}}}},"/api/integration/v1/tareas/{id}":{"get":{"tags":["proyectos"],"summary":"Detalle de tareas de proyecto","operationId":"obtener_tareas","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"incluirSensibles","in":"query","schema":{"type":"string","enum":["0","1"]}}],"responses":{"200":{"description":"Registro con sus relaciones directas"},"404":{"description":"No encontrado"}}}},"/api/integration/v1/bitacora":{"get":{"tags":["proyectos"],"summary":"Listar bitácora de proyecto","description":"Avances publicados al cliente (texto + imágenes + videos) por fase.","operationId":"listar_bitacora","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"limite","in":"query","description":"Cantidad de filas (1-1000).","schema":{"type":"integer","default":100,"maximum":1000,"minimum":1}},{"name":"offset","in":"query","description":"Desplazamiento para paginar.","schema":{"type":"integer","default":0,"minimum":0}},{"name":"desde","in":"query","description":"Sólo registros con fecha >= ISO-8601 (sincronización incremental).","schema":{"type":"string","format":"date-time"}},{"name":"hasta","in":"query","description":"Sólo registros con fecha <= ISO-8601.","schema":{"type":"string","format":"date-time"}},{"name":"q","in":"query","description":"Búsqueda de texto sobre los campos relevantes del recurso.","schema":{"type":"string"}},{"name":"orden","in":"query","description":"Dirección del orden.","schema":{"type":"string","enum":["asc","desc"],"default":"desc"}},{"name":"campos","in":"query","description":"Proyección: lista de campos separados por coma.","schema":{"type":"string"}},{"name":"incluirContenido","in":"query","description":"Incluye textos largos (contratos, mensajes).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirSensibles","in":"query","description":"Incluye campos sensibles (requiere scope secrets).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirEnlaces","in":"query","description":"Con scope `links`, agrega `_enlaces` con las URLs públicas. Activo por defecto; pasá 0 para desactivar.","schema":{"type":"string","enum":["0","1"]}},{"name":"proyectoId","in":"query","description":"ID del proyecto. Acepta varios valores separados por coma.","schema":{"type":"string"}}],"responses":{"200":{"description":"Listado paginado","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"recurso":{"type":"string"},"generadoEn":{"type":"string","format":"date-time"},"paginacion":{"$ref":"#/components/schemas/Paginacion"},"datos":{"type":"array","items":{"$ref":"#/components/schemas/bitacora"}}}}}}},"401":{"$ref":"#/components/responses/NoAutorizado"},"429":{"$ref":"#/components/responses/RateLimit"}}}},"/api/integration/v1/bitacora/{id}":{"get":{"tags":["proyectos"],"summary":"Detalle de bitácora de proyecto","operationId":"obtener_bitacora","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"incluirSensibles","in":"query","schema":{"type":"string","enum":["0","1"]}}],"responses":{"200":{"description":"Registro con sus relaciones directas"},"404":{"description":"No encontrado"}}}},"/api/integration/v1/contratos-servicio":{"get":{"tags":["contratos"],"summary":"Listar contratos de servicio","description":"Acuerdos de servicio firmados electrónicamente por el cliente, ligados a un presupuesto.","operationId":"listar_contratos_servicio","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"limite","in":"query","description":"Cantidad de filas (1-1000).","schema":{"type":"integer","default":100,"maximum":1000,"minimum":1}},{"name":"offset","in":"query","description":"Desplazamiento para paginar.","schema":{"type":"integer","default":0,"minimum":0}},{"name":"desde","in":"query","description":"Sólo registros con fecha >= ISO-8601 (sincronización incremental).","schema":{"type":"string","format":"date-time"}},{"name":"hasta","in":"query","description":"Sólo registros con fecha <= ISO-8601.","schema":{"type":"string","format":"date-time"}},{"name":"q","in":"query","description":"Búsqueda de texto sobre los campos relevantes del recurso.","schema":{"type":"string"}},{"name":"orden","in":"query","description":"Dirección del orden.","schema":{"type":"string","enum":["asc","desc"],"default":"desc"}},{"name":"campos","in":"query","description":"Proyección: lista de campos separados por coma.","schema":{"type":"string"}},{"name":"incluirContenido","in":"query","description":"Incluye textos largos (contratos, mensajes).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirSensibles","in":"query","description":"Incluye campos sensibles (requiere scope secrets).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirEnlaces","in":"query","description":"Con scope `links`, agrega `_enlaces` con las URLs públicas. Activo por defecto; pasá 0 para desactivar.","schema":{"type":"string","enum":["0","1"]}},{"name":"estado","in":"query","description":"DRAFT|PENDING_SIGNATURE|SIGNED|EXPIRED. Acepta varios valores separados por coma.","schema":{"type":"string"}},{"name":"presupuestoId","in":"query","description":"ID del presupuesto. Acepta varios valores separados por coma.","schema":{"type":"string"}}],"responses":{"200":{"description":"Listado paginado","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"recurso":{"type":"string"},"generadoEn":{"type":"string","format":"date-time"},"paginacion":{"$ref":"#/components/schemas/Paginacion"},"datos":{"type":"array","items":{"$ref":"#/components/schemas/contratos_servicio"}}}}}}},"401":{"$ref":"#/components/responses/NoAutorizado"},"429":{"$ref":"#/components/responses/RateLimit"}}},"post":{"tags":["escritura"],"summary":"Crear contrato de servicio","description":"Genera el contrato desde una plantilla (o `contenido` propio) y devuelve el link de firma. Si el presupuesto ya tiene un contrato vivo, devuelve ese salvo que mandes `forzarNuevo: true`.","operationId":"post_contratos_servicio","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"presupuestoId":{"type":"string","format":"uuid"},"plantillaId":{"type":"string","format":"uuid","description":"Ver GET /plantillas-contrato. Si se omite, usa la plantilla por defecto."},"contenido":{"type":"string","description":"Texto del contrato. Alternativa a plantillaId."},"clientCompanyName":{"type":"string","description":"Si se omite, se toma del cliente del presupuesto."},"clientRut":{"type":"string"},"clientRepresentativeName":{"type":"string"},"clientRepresentativeRut":{"type":"string"},"validUntil":{"type":"string","format":"date-time"},"estado":{"type":"string","enum":["DRAFT","PENDING_SIGNATURE"],"default":"DRAFT"},"forzarNuevo":{"type":"boolean","default":false}},"required":["presupuestoId","clientRepresentativeName"]}}}},"responses":{"200":{"description":"Ya existía: se devuelve el registro existente (`creado: false`)"},"201":{"description":"Creado. Incluye `_enlaces` con la URL pública si la credencial tiene scope `links`"},"400":{"description":"Cuerpo inválido: el campo `campos` detalla qué falta"},"409":{"description":"Transición no permitida (firmar/aprobar) o registro ya cerrado"}}}},"/api/integration/v1/contratos-servicio/{id}":{"get":{"tags":["contratos"],"summary":"Detalle de contratos de servicio","operationId":"obtener_contratos_servicio","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"incluirSensibles","in":"query","schema":{"type":"string","enum":["0","1"]}}],"responses":{"200":{"description":"Registro con sus relaciones directas"},"404":{"description":"No encontrado"}}},"patch":{"tags":["escritura"],"summary":"Actualizar contrato de servicio","description":"Cambia estado (DRAFT, PENDING_SIGNATURE, EXPIRED) y permite corregir el contenido mientras no esté firmado. SIGNED devuelve 409: la firma la hace el cliente y deja respaldo legal con IP y fecha.","operationId":"patch_contratos_servicio_id","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"estado":{"type":"string","enum":["DRAFT","PENDING_SIGNATURE","EXPIRED"]},"contenido":{"type":"string"},"validUntil":{"type":"string","format":"date-time"}},"required":[]}}}},"responses":{"200":{"description":"Ya existía: se devuelve el registro existente (`creado: false`)"},"201":{"description":"Creado. Incluye `_enlaces` con la URL pública si la credencial tiene scope `links`"},"400":{"description":"Cuerpo inválido: el campo `campos` detalla qué falta"},"409":{"description":"Transición no permitida (firmar/aprobar) o registro ya cerrado"}}}},"/api/integration/v1/contratos-mantenimiento":{"get":{"tags":["mantenimiento"],"summary":"Listar contratos de mantenimiento","description":"Servicios recurrentes mensuales (hosting, soporte, bundle, licencia). Generan la facturación mensual y el MRR.","operationId":"listar_contratos_mantenimiento","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"limite","in":"query","description":"Cantidad de filas (1-1000).","schema":{"type":"integer","default":100,"maximum":1000,"minimum":1}},{"name":"offset","in":"query","description":"Desplazamiento para paginar.","schema":{"type":"integer","default":0,"minimum":0}},{"name":"desde","in":"query","description":"Sólo registros con fecha >= ISO-8601 (sincronización incremental).","schema":{"type":"string","format":"date-time"}},{"name":"hasta","in":"query","description":"Sólo registros con fecha <= ISO-8601.","schema":{"type":"string","format":"date-time"}},{"name":"q","in":"query","description":"Búsqueda de texto sobre los campos relevantes del recurso.","schema":{"type":"string"}},{"name":"orden","in":"query","description":"Dirección del orden.","schema":{"type":"string","enum":["asc","desc"],"default":"desc"}},{"name":"campos","in":"query","description":"Proyección: lista de campos separados por coma.","schema":{"type":"string"}},{"name":"incluirContenido","in":"query","description":"Incluye textos largos (contratos, mensajes).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirSensibles","in":"query","description":"Incluye campos sensibles (requiere scope secrets).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirEnlaces","in":"query","description":"Con scope `links`, agrega `_enlaces` con las URLs públicas. Activo por defecto; pasá 0 para desactivar.","schema":{"type":"string","enum":["0","1"]}},{"name":"estado","in":"query","description":"ACTIVE|PAUSED|CANCELLED. Acepta varios valores separados por coma.","schema":{"type":"string"}},{"name":"clienteId","in":"query","description":"ID del cliente. Acepta varios valores separados por coma.","schema":{"type":"string"}},{"name":"proyectoId","in":"query","description":"ID del proyecto. Acepta varios valores separados por coma.","schema":{"type":"string"}},{"name":"tipoServicio","in":"query","description":"HOSTING|SUPPORT|BUNDLE|LLAVE|HOSTING_MANTENIMIENTO. Acepta varios valores separados por coma.","schema":{"type":"string"}}],"responses":{"200":{"description":"Listado paginado","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"recurso":{"type":"string"},"generadoEn":{"type":"string","format":"date-time"},"paginacion":{"$ref":"#/components/schemas/Paginacion"},"datos":{"type":"array","items":{"$ref":"#/components/schemas/contratos_mantenimiento"}}}}}}},"401":{"$ref":"#/components/responses/NoAutorizado"},"429":{"$ref":"#/components/responses/RateLimit"}}}},"/api/integration/v1/contratos-mantenimiento/{id}":{"get":{"tags":["mantenimiento"],"summary":"Detalle de contratos de mantenimiento","operationId":"obtener_contratos_mantenimiento","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"incluirSensibles","in":"query","schema":{"type":"string","enum":["0","1"]}}],"responses":{"200":{"description":"Registro con sus relaciones directas"},"404":{"description":"No encontrado"}}}},"/api/integration/v1/pagos-mantenimiento":{"get":{"tags":["mantenimiento"],"summary":"Listar pagos de mantenimiento","description":"Cuota mensual por contrato (mes/año), con estado de cobranza y fecha de vencimiento.","operationId":"listar_pagos_mantenimiento","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"limite","in":"query","description":"Cantidad de filas (1-1000).","schema":{"type":"integer","default":100,"maximum":1000,"minimum":1}},{"name":"offset","in":"query","description":"Desplazamiento para paginar.","schema":{"type":"integer","default":0,"minimum":0}},{"name":"desde","in":"query","description":"Sólo registros con fecha >= ISO-8601 (sincronización incremental).","schema":{"type":"string","format":"date-time"}},{"name":"hasta","in":"query","description":"Sólo registros con fecha <= ISO-8601.","schema":{"type":"string","format":"date-time"}},{"name":"q","in":"query","description":"Búsqueda de texto sobre los campos relevantes del recurso.","schema":{"type":"string"}},{"name":"orden","in":"query","description":"Dirección del orden.","schema":{"type":"string","enum":["asc","desc"],"default":"desc"}},{"name":"campos","in":"query","description":"Proyección: lista de campos separados por coma.","schema":{"type":"string"}},{"name":"incluirContenido","in":"query","description":"Incluye textos largos (contratos, mensajes).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirSensibles","in":"query","description":"Incluye campos sensibles (requiere scope secrets).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirEnlaces","in":"query","description":"Con scope `links`, agrega `_enlaces` con las URLs públicas. Activo por defecto; pasá 0 para desactivar.","schema":{"type":"string","enum":["0","1"]}},{"name":"estado","in":"query","description":"PENDING|PAID|LATE|WAIVED. Acepta varios valores separados por coma.","schema":{"type":"string"}},{"name":"contratoId","in":"query","description":"ID del contrato. Acepta varios valores separados por coma.","schema":{"type":"string"}},{"name":"anio","in":"query","description":"Año de la cuota. Acepta varios valores separados por coma.","schema":{"type":"integer"}},{"name":"mes","in":"query","description":"Mes de la cuota (1-12). Acepta varios valores separados por coma.","schema":{"type":"integer"}}],"responses":{"200":{"description":"Listado paginado","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"recurso":{"type":"string"},"generadoEn":{"type":"string","format":"date-time"},"paginacion":{"$ref":"#/components/schemas/Paginacion"},"datos":{"type":"array","items":{"$ref":"#/components/schemas/pagos_mantenimiento"}}}}}}},"401":{"$ref":"#/components/responses/NoAutorizado"},"429":{"$ref":"#/components/responses/RateLimit"}}}},"/api/integration/v1/pagos-mantenimiento/{id}":{"get":{"tags":["mantenimiento"],"summary":"Detalle de pagos de mantenimiento","operationId":"obtener_pagos_mantenimiento","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"incluirSensibles","in":"query","schema":{"type":"string","enum":["0","1"]}}],"responses":{"200":{"description":"Registro con sus relaciones directas"},"404":{"description":"No encontrado"}}}},"/api/integration/v1/contratos-laborales":{"get":{"tags":["equipo"],"summary":"Listar contratos laborales","description":"Contratos del equipo interno (desarrolladores, closers) con firma electrónica.","operationId":"listar_contratos_laborales","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"limite","in":"query","description":"Cantidad de filas (1-1000).","schema":{"type":"integer","default":100,"maximum":1000,"minimum":1}},{"name":"offset","in":"query","description":"Desplazamiento para paginar.","schema":{"type":"integer","default":0,"minimum":0}},{"name":"desde","in":"query","description":"Sólo registros con fecha >= ISO-8601 (sincronización incremental).","schema":{"type":"string","format":"date-time"}},{"name":"hasta","in":"query","description":"Sólo registros con fecha <= ISO-8601.","schema":{"type":"string","format":"date-time"}},{"name":"q","in":"query","description":"Búsqueda de texto sobre los campos relevantes del recurso.","schema":{"type":"string"}},{"name":"orden","in":"query","description":"Dirección del orden.","schema":{"type":"string","enum":["asc","desc"],"default":"desc"}},{"name":"campos","in":"query","description":"Proyección: lista de campos separados por coma.","schema":{"type":"string"}},{"name":"incluirContenido","in":"query","description":"Incluye textos largos (contratos, mensajes).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirSensibles","in":"query","description":"Incluye campos sensibles (requiere scope secrets).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirEnlaces","in":"query","description":"Con scope `links`, agrega `_enlaces` con las URLs públicas. Activo por defecto; pasá 0 para desactivar.","schema":{"type":"string","enum":["0","1"]}},{"name":"estado","in":"query","description":"DRAFT|SENT|SIGNED. Acepta varios valores separados por coma.","schema":{"type":"string"}},{"name":"colaboradorId","in":"query","description":"ID del colaborador. Acepta varios valores separados por coma.","schema":{"type":"string"}}],"responses":{"200":{"description":"Listado paginado","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"recurso":{"type":"string"},"generadoEn":{"type":"string","format":"date-time"},"paginacion":{"$ref":"#/components/schemas/Paginacion"},"datos":{"type":"array","items":{"$ref":"#/components/schemas/contratos_laborales"}}}}}}},"401":{"$ref":"#/components/responses/NoAutorizado"},"429":{"$ref":"#/components/responses/RateLimit"}}}},"/api/integration/v1/contratos-laborales/{id}":{"get":{"tags":["equipo"],"summary":"Detalle de contratos laborales","operationId":"obtener_contratos_laborales","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"incluirSensibles","in":"query","schema":{"type":"string","enum":["0","1"]}}],"responses":{"200":{"description":"Registro con sus relaciones directas"},"404":{"description":"No encontrado"}}}},"/api/integration/v1/adicionales":{"get":{"tags":["ventas"],"summary":"Listar servicios adicionales (add-ons)","description":"Ampliaciones cotizadas sobre un proyecto en curso, con su propio mini-contrato y aprobación del cliente.","operationId":"listar_adicionales","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"limite","in":"query","description":"Cantidad de filas (1-1000).","schema":{"type":"integer","default":100,"maximum":1000,"minimum":1}},{"name":"offset","in":"query","description":"Desplazamiento para paginar.","schema":{"type":"integer","default":0,"minimum":0}},{"name":"desde","in":"query","description":"Sólo registros con fecha >= ISO-8601 (sincronización incremental).","schema":{"type":"string","format":"date-time"}},{"name":"hasta","in":"query","description":"Sólo registros con fecha <= ISO-8601.","schema":{"type":"string","format":"date-time"}},{"name":"q","in":"query","description":"Búsqueda de texto sobre los campos relevantes del recurso.","schema":{"type":"string"}},{"name":"orden","in":"query","description":"Dirección del orden.","schema":{"type":"string","enum":["asc","desc"],"default":"desc"}},{"name":"campos","in":"query","description":"Proyección: lista de campos separados por coma.","schema":{"type":"string"}},{"name":"incluirContenido","in":"query","description":"Incluye textos largos (contratos, mensajes).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirSensibles","in":"query","description":"Incluye campos sensibles (requiere scope secrets).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirEnlaces","in":"query","description":"Con scope `links`, agrega `_enlaces` con las URLs públicas. Activo por defecto; pasá 0 para desactivar.","schema":{"type":"string","enum":["0","1"]}},{"name":"estado","in":"query","description":"DRAFT|SENT|APPROVED|REJECTED. Acepta varios valores separados por coma.","schema":{"type":"string"}},{"name":"proyectoId","in":"query","description":"ID del proyecto. Acepta varios valores separados por coma.","schema":{"type":"string"}}],"responses":{"200":{"description":"Listado paginado","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"recurso":{"type":"string"},"generadoEn":{"type":"string","format":"date-time"},"paginacion":{"$ref":"#/components/schemas/Paginacion"},"datos":{"type":"array","items":{"$ref":"#/components/schemas/adicionales"}}}}}}},"401":{"$ref":"#/components/responses/NoAutorizado"},"429":{"$ref":"#/components/responses/RateLimit"}}}},"/api/integration/v1/adicionales/{id}":{"get":{"tags":["ventas"],"summary":"Detalle de servicios adicionales (add-ons)","operationId":"obtener_adicionales","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"incluirSensibles","in":"query","schema":{"type":"string","enum":["0","1"]}}],"responses":{"200":{"description":"Registro con sus relaciones directas"},"404":{"description":"No encontrado"}}}},"/api/integration/v1/pagos":{"get":{"tags":["finanzas"],"summary":"Listar pagos de proyecto","description":"Abonos recibidos por proyecto (transferencia, efectivo, tarjeta).","operationId":"listar_pagos","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"limite","in":"query","description":"Cantidad de filas (1-1000).","schema":{"type":"integer","default":100,"maximum":1000,"minimum":1}},{"name":"offset","in":"query","description":"Desplazamiento para paginar.","schema":{"type":"integer","default":0,"minimum":0}},{"name":"desde","in":"query","description":"Sólo registros con fecha >= ISO-8601 (sincronización incremental).","schema":{"type":"string","format":"date-time"}},{"name":"hasta","in":"query","description":"Sólo registros con fecha <= ISO-8601.","schema":{"type":"string","format":"date-time"}},{"name":"q","in":"query","description":"Búsqueda de texto sobre los campos relevantes del recurso.","schema":{"type":"string"}},{"name":"orden","in":"query","description":"Dirección del orden.","schema":{"type":"string","enum":["asc","desc"],"default":"desc"}},{"name":"campos","in":"query","description":"Proyección: lista de campos separados por coma.","schema":{"type":"string"}},{"name":"incluirContenido","in":"query","description":"Incluye textos largos (contratos, mensajes).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirSensibles","in":"query","description":"Incluye campos sensibles (requiere scope secrets).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirEnlaces","in":"query","description":"Con scope `links`, agrega `_enlaces` con las URLs públicas. Activo por defecto; pasá 0 para desactivar.","schema":{"type":"string","enum":["0","1"]}},{"name":"proyectoId","in":"query","description":"ID del proyecto. Acepta varios valores separados por coma.","schema":{"type":"string"}},{"name":"metodo","in":"query","description":"TRANSFERENCIA|EFECTIVO|TARJETA|OTRO. Acepta varios valores separados por coma.","schema":{"type":"string"}}],"responses":{"200":{"description":"Listado paginado","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"recurso":{"type":"string"},"generadoEn":{"type":"string","format":"date-time"},"paginacion":{"$ref":"#/components/schemas/Paginacion"},"datos":{"type":"array","items":{"$ref":"#/components/schemas/pagos"}}}}}}},"401":{"$ref":"#/components/responses/NoAutorizado"},"429":{"$ref":"#/components/responses/RateLimit"}}}},"/api/integration/v1/pagos/{id}":{"get":{"tags":["finanzas"],"summary":"Detalle de pagos de proyecto","operationId":"obtener_pagos","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"incluirSensibles","in":"query","schema":{"type":"string","enum":["0","1"]}}],"responses":{"200":{"description":"Registro con sus relaciones directas"},"404":{"description":"No encontrado"}}}},"/api/integration/v1/ingresos":{"get":{"tags":["finanzas"],"summary":"Listar ingresos manuales","description":"Ingresos que no vienen de un proyecto (asesorías, ventas puntuales).","operationId":"listar_ingresos","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"limite","in":"query","description":"Cantidad de filas (1-1000).","schema":{"type":"integer","default":100,"maximum":1000,"minimum":1}},{"name":"offset","in":"query","description":"Desplazamiento para paginar.","schema":{"type":"integer","default":0,"minimum":0}},{"name":"desde","in":"query","description":"Sólo registros con fecha >= ISO-8601 (sincronización incremental).","schema":{"type":"string","format":"date-time"}},{"name":"hasta","in":"query","description":"Sólo registros con fecha <= ISO-8601.","schema":{"type":"string","format":"date-time"}},{"name":"q","in":"query","description":"Búsqueda de texto sobre los campos relevantes del recurso.","schema":{"type":"string"}},{"name":"orden","in":"query","description":"Dirección del orden.","schema":{"type":"string","enum":["asc","desc"],"default":"desc"}},{"name":"campos","in":"query","description":"Proyección: lista de campos separados por coma.","schema":{"type":"string"}},{"name":"incluirContenido","in":"query","description":"Incluye textos largos (contratos, mensajes).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirSensibles","in":"query","description":"Incluye campos sensibles (requiere scope secrets).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirEnlaces","in":"query","description":"Con scope `links`, agrega `_enlaces` con las URLs públicas. Activo por defecto; pasá 0 para desactivar.","schema":{"type":"string","enum":["0","1"]}},{"name":"categoria","in":"query","description":"Categoría del ingreso. Acepta varios valores separados por coma.","schema":{"type":"string"}}],"responses":{"200":{"description":"Listado paginado","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"recurso":{"type":"string"},"generadoEn":{"type":"string","format":"date-time"},"paginacion":{"$ref":"#/components/schemas/Paginacion"},"datos":{"type":"array","items":{"$ref":"#/components/schemas/ingresos"}}}}}}},"401":{"$ref":"#/components/responses/NoAutorizado"},"429":{"$ref":"#/components/responses/RateLimit"}}}},"/api/integration/v1/ingresos/{id}":{"get":{"tags":["finanzas"],"summary":"Detalle de ingresos manuales","operationId":"obtener_ingresos","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"incluirSensibles","in":"query","schema":{"type":"string","enum":["0","1"]}}],"responses":{"200":{"description":"Registro con sus relaciones directas"},"404":{"description":"No encontrado"}}}},"/api/integration/v1/gastos":{"get":{"tags":["finanzas"],"summary":"Listar gastos","description":"Egresos operativos (ads, software, otros).","operationId":"listar_gastos","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"limite","in":"query","description":"Cantidad de filas (1-1000).","schema":{"type":"integer","default":100,"maximum":1000,"minimum":1}},{"name":"offset","in":"query","description":"Desplazamiento para paginar.","schema":{"type":"integer","default":0,"minimum":0}},{"name":"desde","in":"query","description":"Sólo registros con fecha >= ISO-8601 (sincronización incremental).","schema":{"type":"string","format":"date-time"}},{"name":"hasta","in":"query","description":"Sólo registros con fecha <= ISO-8601.","schema":{"type":"string","format":"date-time"}},{"name":"q","in":"query","description":"Búsqueda de texto sobre los campos relevantes del recurso.","schema":{"type":"string"}},{"name":"orden","in":"query","description":"Dirección del orden.","schema":{"type":"string","enum":["asc","desc"],"default":"desc"}},{"name":"campos","in":"query","description":"Proyección: lista de campos separados por coma.","schema":{"type":"string"}},{"name":"incluirContenido","in":"query","description":"Incluye textos largos (contratos, mensajes).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirSensibles","in":"query","description":"Incluye campos sensibles (requiere scope secrets).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirEnlaces","in":"query","description":"Con scope `links`, agrega `_enlaces` con las URLs públicas. Activo por defecto; pasá 0 para desactivar.","schema":{"type":"string","enum":["0","1"]}},{"name":"categoria","in":"query","description":"FACEBOOK_ADS|TIKTOK_ADS|SOFTWARE|OTHER. Acepta varios valores separados por coma.","schema":{"type":"string"}}],"responses":{"200":{"description":"Listado paginado","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"recurso":{"type":"string"},"generadoEn":{"type":"string","format":"date-time"},"paginacion":{"$ref":"#/components/schemas/Paginacion"},"datos":{"type":"array","items":{"$ref":"#/components/schemas/gastos"}}}}}}},"401":{"$ref":"#/components/responses/NoAutorizado"},"429":{"$ref":"#/components/responses/RateLimit"}}}},"/api/integration/v1/gastos/{id}":{"get":{"tags":["finanzas"],"summary":"Detalle de gastos","operationId":"obtener_gastos","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"incluirSensibles","in":"query","schema":{"type":"string","enum":["0","1"]}}],"responses":{"200":{"description":"Registro con sus relaciones directas"},"404":{"description":"No encontrado"}}}},"/api/integration/v1/documentos-tributarios":{"get":{"tags":["finanzas"],"summary":"Listar documentos tributarios (sii / wasabil)","description":"Boletas y facturas electrónicas emitidas, con folio, PDF y estado de emisión.","operationId":"listar_documentos_tributarios","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"limite","in":"query","description":"Cantidad de filas (1-1000).","schema":{"type":"integer","default":100,"maximum":1000,"minimum":1}},{"name":"offset","in":"query","description":"Desplazamiento para paginar.","schema":{"type":"integer","default":0,"minimum":0}},{"name":"desde","in":"query","description":"Sólo registros con fecha >= ISO-8601 (sincronización incremental).","schema":{"type":"string","format":"date-time"}},{"name":"hasta","in":"query","description":"Sólo registros con fecha <= ISO-8601.","schema":{"type":"string","format":"date-time"}},{"name":"q","in":"query","description":"Búsqueda de texto sobre los campos relevantes del recurso.","schema":{"type":"string"}},{"name":"orden","in":"query","description":"Dirección del orden.","schema":{"type":"string","enum":["asc","desc"],"default":"desc"}},{"name":"campos","in":"query","description":"Proyección: lista de campos separados por coma.","schema":{"type":"string"}},{"name":"incluirContenido","in":"query","description":"Incluye textos largos (contratos, mensajes).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirSensibles","in":"query","description":"Incluye campos sensibles (requiere scope secrets).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirEnlaces","in":"query","description":"Con scope `links`, agrega `_enlaces` con las URLs públicas. Activo por defecto; pasá 0 para desactivar.","schema":{"type":"string","enum":["0","1"]}},{"name":"estado","in":"query","description":"draft|issued|failed. Acepta varios valores separados por coma.","schema":{"type":"string"}},{"name":"origen","in":"query","description":"store_order|project|maintenance. Acepta varios valores separados por coma.","schema":{"type":"string"}}],"responses":{"200":{"description":"Listado paginado","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"recurso":{"type":"string"},"generadoEn":{"type":"string","format":"date-time"},"paginacion":{"$ref":"#/components/schemas/Paginacion"},"datos":{"type":"array","items":{"$ref":"#/components/schemas/documentos_tributarios"}}}}}}},"401":{"$ref":"#/components/responses/NoAutorizado"},"429":{"$ref":"#/components/responses/RateLimit"}}}},"/api/integration/v1/documentos-tributarios/{id}":{"get":{"tags":["finanzas"],"summary":"Detalle de documentos tributarios (sii / wasabil)","operationId":"obtener_documentos_tributarios","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"incluirSensibles","in":"query","schema":{"type":"string","enum":["0","1"]}}],"responses":{"200":{"description":"Registro con sus relaciones directas"},"404":{"description":"No encontrado"}}}},"/api/integration/v1/leads":{"post":{"tags":["escritura"],"summary":"Ingresar un lead","description":"Crea un contacto en el panel desde el sistema externo.","operationId":"post_leads","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/integration/v1/leads/{id}":{"get":{"tags":["ventas"],"summary":"Detalle de leads / contactos","operationId":"obtener_leads","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"incluirSensibles","in":"query","schema":{"type":"string","enum":["0","1"]}}],"responses":{"200":{"description":"Registro con sus relaciones directas"},"404":{"description":"No encontrado"}}}},"/api/integration/v1/servicios":{"get":{"tags":["ventas"],"summary":"Listar catálogo de servicios","description":"Servicios base con precio y costo, usados para armar los presupuestos.","operationId":"listar_servicios","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"limite","in":"query","description":"Cantidad de filas (1-1000).","schema":{"type":"integer","default":100,"maximum":1000,"minimum":1}},{"name":"offset","in":"query","description":"Desplazamiento para paginar.","schema":{"type":"integer","default":0,"minimum":0}},{"name":"desde","in":"query","description":"Sólo registros con fecha >= ISO-8601 (sincronización incremental).","schema":{"type":"string","format":"date-time"}},{"name":"hasta","in":"query","description":"Sólo registros con fecha <= ISO-8601.","schema":{"type":"string","format":"date-time"}},{"name":"q","in":"query","description":"Búsqueda de texto sobre los campos relevantes del recurso.","schema":{"type":"string"}},{"name":"orden","in":"query","description":"Dirección del orden.","schema":{"type":"string","enum":["asc","desc"],"default":"desc"}},{"name":"campos","in":"query","description":"Proyección: lista de campos separados por coma.","schema":{"type":"string"}},{"name":"incluirContenido","in":"query","description":"Incluye textos largos (contratos, mensajes).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirSensibles","in":"query","description":"Incluye campos sensibles (requiere scope secrets).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirEnlaces","in":"query","description":"Con scope `links`, agrega `_enlaces` con las URLs públicas. Activo por defecto; pasá 0 para desactivar.","schema":{"type":"string","enum":["0","1"]}}],"responses":{"200":{"description":"Listado paginado","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"recurso":{"type":"string"},"generadoEn":{"type":"string","format":"date-time"},"paginacion":{"$ref":"#/components/schemas/Paginacion"},"datos":{"type":"array","items":{"$ref":"#/components/schemas/servicios"}}}}}}},"401":{"$ref":"#/components/responses/NoAutorizado"},"429":{"$ref":"#/components/responses/RateLimit"}}}},"/api/integration/v1/servicios/{id}":{"get":{"tags":["ventas"],"summary":"Detalle de catálogo de servicios","operationId":"obtener_servicios","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"incluirSensibles","in":"query","schema":{"type":"string","enum":["0","1"]}}],"responses":{"200":{"description":"Registro con sus relaciones directas"},"404":{"description":"No encontrado"}}}},"/api/integration/v1/pedidos":{"get":{"tags":["tienda"],"summary":"Listar pedidos de la tienda online","description":"Compras autoservicio (checkout MercadoPago) con datos fiscales y estado de pago.","operationId":"listar_pedidos","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"limite","in":"query","description":"Cantidad de filas (1-1000).","schema":{"type":"integer","default":100,"maximum":1000,"minimum":1}},{"name":"offset","in":"query","description":"Desplazamiento para paginar.","schema":{"type":"integer","default":0,"minimum":0}},{"name":"desde","in":"query","description":"Sólo registros con fecha >= ISO-8601 (sincronización incremental).","schema":{"type":"string","format":"date-time"}},{"name":"hasta","in":"query","description":"Sólo registros con fecha <= ISO-8601.","schema":{"type":"string","format":"date-time"}},{"name":"q","in":"query","description":"Búsqueda de texto sobre los campos relevantes del recurso.","schema":{"type":"string"}},{"name":"orden","in":"query","description":"Dirección del orden.","schema":{"type":"string","enum":["asc","desc"],"default":"desc"}},{"name":"campos","in":"query","description":"Proyección: lista de campos separados por coma.","schema":{"type":"string"}},{"name":"incluirContenido","in":"query","description":"Incluye textos largos (contratos, mensajes).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirSensibles","in":"query","description":"Incluye campos sensibles (requiere scope secrets).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirEnlaces","in":"query","description":"Con scope `links`, agrega `_enlaces` con las URLs públicas. Activo por defecto; pasá 0 para desactivar.","schema":{"type":"string","enum":["0","1"]}},{"name":"estado","in":"query","description":"PENDING|PAYMENT_PENDING|PAID|INTAKE_DONE|CANCELLED|REFUNDED. Acepta varios valores separados por coma.","schema":{"type":"string"}},{"name":"clienteId","in":"query","description":"ID del cliente asociado. Acepta varios valores separados por coma.","schema":{"type":"string"}}],"responses":{"200":{"description":"Listado paginado","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"recurso":{"type":"string"},"generadoEn":{"type":"string","format":"date-time"},"paginacion":{"$ref":"#/components/schemas/Paginacion"},"datos":{"type":"array","items":{"$ref":"#/components/schemas/pedidos"}}}}}}},"401":{"$ref":"#/components/responses/NoAutorizado"},"429":{"$ref":"#/components/responses/RateLimit"}}}},"/api/integration/v1/pedidos/{id}":{"get":{"tags":["tienda"],"summary":"Detalle de pedidos de la tienda online","operationId":"obtener_pedidos","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"incluirSensibles","in":"query","schema":{"type":"string","enum":["0","1"]}}],"responses":{"200":{"description":"Registro con sus relaciones directas"},"404":{"description":"No encontrado"}}}},"/api/integration/v1/solicitudes-cambio":{"get":{"tags":["proyectos"],"summary":"Listar solicitudes de cambio","description":"Pedidos del cliente desde su portal sobre un proyecto en curso.","operationId":"listar_solicitudes_cambio","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"limite","in":"query","description":"Cantidad de filas (1-1000).","schema":{"type":"integer","default":100,"maximum":1000,"minimum":1}},{"name":"offset","in":"query","description":"Desplazamiento para paginar.","schema":{"type":"integer","default":0,"minimum":0}},{"name":"desde","in":"query","description":"Sólo registros con fecha >= ISO-8601 (sincronización incremental).","schema":{"type":"string","format":"date-time"}},{"name":"hasta","in":"query","description":"Sólo registros con fecha <= ISO-8601.","schema":{"type":"string","format":"date-time"}},{"name":"q","in":"query","description":"Búsqueda de texto sobre los campos relevantes del recurso.","schema":{"type":"string"}},{"name":"orden","in":"query","description":"Dirección del orden.","schema":{"type":"string","enum":["asc","desc"],"default":"desc"}},{"name":"campos","in":"query","description":"Proyección: lista de campos separados por coma.","schema":{"type":"string"}},{"name":"incluirContenido","in":"query","description":"Incluye textos largos (contratos, mensajes).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirSensibles","in":"query","description":"Incluye campos sensibles (requiere scope secrets).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirEnlaces","in":"query","description":"Con scope `links`, agrega `_enlaces` con las URLs públicas. Activo por defecto; pasá 0 para desactivar.","schema":{"type":"string","enum":["0","1"]}},{"name":"estado","in":"query","description":"PENDING|IN_PROGRESS|COMPLETED|REJECTED. Acepta varios valores separados por coma.","schema":{"type":"string"}},{"name":"proyectoId","in":"query","description":"ID del proyecto. Acepta varios valores separados por coma.","schema":{"type":"string"}}],"responses":{"200":{"description":"Listado paginado","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"recurso":{"type":"string"},"generadoEn":{"type":"string","format":"date-time"},"paginacion":{"$ref":"#/components/schemas/Paginacion"},"datos":{"type":"array","items":{"$ref":"#/components/schemas/solicitudes_cambio"}}}}}}},"401":{"$ref":"#/components/responses/NoAutorizado"},"429":{"$ref":"#/components/responses/RateLimit"}}}},"/api/integration/v1/solicitudes-cambio/{id}":{"get":{"tags":["proyectos"],"summary":"Detalle de solicitudes de cambio","operationId":"obtener_solicitudes_cambio","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"incluirSensibles","in":"query","schema":{"type":"string","enum":["0","1"]}}],"responses":{"200":{"description":"Registro con sus relaciones directas"},"404":{"description":"No encontrado"}}}},"/api/integration/v1/ofertas-cierre":{"get":{"tags":["mantenimiento"],"summary":"Listar ofertas de cierre (hosting + soporte)","description":"Oferta que se presenta al entregar el proyecto para convertirlo en contrato de mantenimiento.","operationId":"listar_ofertas_cierre","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"limite","in":"query","description":"Cantidad de filas (1-1000).","schema":{"type":"integer","default":100,"maximum":1000,"minimum":1}},{"name":"offset","in":"query","description":"Desplazamiento para paginar.","schema":{"type":"integer","default":0,"minimum":0}},{"name":"desde","in":"query","description":"Sólo registros con fecha >= ISO-8601 (sincronización incremental).","schema":{"type":"string","format":"date-time"}},{"name":"hasta","in":"query","description":"Sólo registros con fecha <= ISO-8601.","schema":{"type":"string","format":"date-time"}},{"name":"q","in":"query","description":"Búsqueda de texto sobre los campos relevantes del recurso.","schema":{"type":"string"}},{"name":"orden","in":"query","description":"Dirección del orden.","schema":{"type":"string","enum":["asc","desc"],"default":"desc"}},{"name":"campos","in":"query","description":"Proyección: lista de campos separados por coma.","schema":{"type":"string"}},{"name":"incluirContenido","in":"query","description":"Incluye textos largos (contratos, mensajes).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirSensibles","in":"query","description":"Incluye campos sensibles (requiere scope secrets).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirEnlaces","in":"query","description":"Con scope `links`, agrega `_enlaces` con las URLs públicas. Activo por defecto; pasá 0 para desactivar.","schema":{"type":"string","enum":["0","1"]}},{"name":"proyectoId","in":"query","description":"ID del proyecto. Acepta varios valores separados por coma.","schema":{"type":"string"}},{"name":"clienteId","in":"query","description":"ID del cliente. Acepta varios valores separados por coma.","schema":{"type":"string"}}],"responses":{"200":{"description":"Listado paginado","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"recurso":{"type":"string"},"generadoEn":{"type":"string","format":"date-time"},"paginacion":{"$ref":"#/components/schemas/Paginacion"},"datos":{"type":"array","items":{"$ref":"#/components/schemas/ofertas_cierre"}}}}}}},"401":{"$ref":"#/components/responses/NoAutorizado"},"429":{"$ref":"#/components/responses/RateLimit"}}}},"/api/integration/v1/ofertas-cierre/{id}":{"get":{"tags":["mantenimiento"],"summary":"Detalle de ofertas de cierre (hosting + soporte)","operationId":"obtener_ofertas_cierre","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"incluirSensibles","in":"query","schema":{"type":"string","enum":["0","1"]}}],"responses":{"200":{"description":"Registro con sus relaciones directas"},"404":{"description":"No encontrado"}}}},"/api/integration/v1/colaboradores":{"get":{"tags":["equipo"],"summary":"Listar equipo (desarrolladores y closers)","description":"Miembros internos del equipo. Nunca se exponen credenciales.","operationId":"listar_colaboradores","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"limite","in":"query","description":"Cantidad de filas (1-1000).","schema":{"type":"integer","default":100,"maximum":1000,"minimum":1}},{"name":"offset","in":"query","description":"Desplazamiento para paginar.","schema":{"type":"integer","default":0,"minimum":0}},{"name":"desde","in":"query","description":"Sólo registros con fecha >= ISO-8601 (sincronización incremental).","schema":{"type":"string","format":"date-time"}},{"name":"hasta","in":"query","description":"Sólo registros con fecha <= ISO-8601.","schema":{"type":"string","format":"date-time"}},{"name":"q","in":"query","description":"Búsqueda de texto sobre los campos relevantes del recurso.","schema":{"type":"string"}},{"name":"orden","in":"query","description":"Dirección del orden.","schema":{"type":"string","enum":["asc","desc"],"default":"desc"}},{"name":"campos","in":"query","description":"Proyección: lista de campos separados por coma.","schema":{"type":"string"}},{"name":"incluirContenido","in":"query","description":"Incluye textos largos (contratos, mensajes).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirSensibles","in":"query","description":"Incluye campos sensibles (requiere scope secrets).","schema":{"type":"string","enum":["0","1"]}},{"name":"incluirEnlaces","in":"query","description":"Con scope `links`, agrega `_enlaces` con las URLs públicas. Activo por defecto; pasá 0 para desactivar.","schema":{"type":"string","enum":["0","1"]}},{"name":"rol","in":"query","description":"developer|closer. Acepta varios valores separados por coma.","schema":{"type":"string"}}],"responses":{"200":{"description":"Listado paginado","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"recurso":{"type":"string"},"generadoEn":{"type":"string","format":"date-time"},"paginacion":{"$ref":"#/components/schemas/Paginacion"},"datos":{"type":"array","items":{"$ref":"#/components/schemas/colaboradores"}}}}}}},"401":{"$ref":"#/components/responses/NoAutorizado"},"429":{"$ref":"#/components/responses/RateLimit"}}}},"/api/integration/v1/colaboradores/{id}":{"get":{"tags":["equipo"],"summary":"Detalle de equipo (desarrolladores y closers)","operationId":"obtener_colaboradores","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"incluirSensibles","in":"query","schema":{"type":"string","enum":["0","1"]}}],"responses":{"200":{"description":"Registro con sus relaciones directas"},"404":{"description":"No encontrado"}}}},"/api/integration/v1/salud":{"get":{"tags":["descubrimiento"],"summary":"Estado del API","description":"Chequeo de vida: versión, hora del servidor y conectividad con la base.","operationId":"get_salud","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/integration/v1/manifiesto":{"get":{"tags":["descubrimiento"],"summary":"Manifiesto del panel","description":"Explica módulos, entidades, relaciones, flujos y reglas de negocio del panel autoadministrable.","operationId":"get_manifiesto","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/integration/v1/recursos":{"get":{"tags":["descubrimiento"],"summary":"Índice de recursos","description":"Lista todos los recursos disponibles con su conteo actual.","operationId":"get_recursos","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/integration/v1/openapi.json":{"get":{"tags":["descubrimiento"],"summary":"Especificación OpenAPI","description":"Este mismo documento.","operationId":"get_openapi_json","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/integration/v1/resumen":{"get":{"tags":["agregados"],"summary":"KPIs generales","description":"Conteos y totales de todo el panel en una sola llamada.","operationId":"get_resumen","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/integration/v1/mantenimiento/resumen":{"get":{"tags":["agregados"],"summary":"Resumen de mantenimiento","description":"MRR, contratos activos, cuotas impagas y próximos vencimientos.","operationId":"get_mantenimiento_resumen","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/integration/v1/finanzas/resumen":{"get":{"tags":["agregados"],"summary":"Resumen financiero","description":"Ingresos, gastos, pipeline y documentos tributarios por período.","operationId":"get_finanzas_resumen","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"anio","in":"query","schema":{"type":"integer"},"description":"Año a analizar (default: actual)."}],"responses":{"200":{"description":"OK"}}}},"/api/integration/v1/contratos":{"get":{"tags":["agregados"],"summary":"Contratos unificados","description":"Vista única de contratos de servicio, mantenimiento, laborales y add-ons.","operationId":"get_contratos","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"tipo","in":"query","schema":{"type":"string","enum":["todos","servicio","mantenimiento","laboral","adicional"]}}],"responses":{"200":{"description":"OK"}}}},"/api/integration/v1/sync/snapshot":{"get":{"tags":["sincronizacion"],"summary":"Snapshot completo","description":"Todos los recursos en una sola respuesta, con cursor para el siguiente delta.","operationId":"get_sync_snapshot","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"limitePorRecurso","in":"query","schema":{"type":"integer","default":500,"maximum":1000}},{"name":"recursos","in":"query","schema":{"type":"string"},"description":"Subconjunto de recursos separados por coma."}],"responses":{"200":{"description":"OK"}}}},"/api/integration/v1/sync/cambios":{"get":{"tags":["sincronizacion"],"summary":"Delta incremental","description":"Sólo lo creado/modificado desde el cursor entregado.","operationId":"get_sync_cambios","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[{"name":"desde","in":"query","required":true,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK"}}}},"/api/integration/v1/sync/push":{"post":{"tags":["sincronizacion"],"summary":"Enviar datos al panel admin","description":"El panel empuja snapshot o delta firmado con HMAC hacia admin.webmakerlatam.com.","operationId":"post_sync_push","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/integration/v1/webhooks/config":{"get":{"tags":["sincronizacion"],"summary":"Contrato de webhooks","description":"Describe firma, headers y política de reintentos del canal saliente.","operationId":"get_webhooks_config","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/integration/v1/webhooks/prueba":{"post":{"tags":["sincronizacion"],"summary":"Entrega de prueba","description":"Envía un evento de prueba firmado al receptor configurado.","operationId":"post_webhooks_prueba","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/integration/v1/plantillas-contrato":{"get":{"tags":["escritura"],"summary":"Plantillas de contrato","description":"Plantillas con las que el panel arma los contratos de servicio.","operationId":"get_plantillas_contrato","security":[{"apiKey":[]},{"bearer":[]}],"parameters":[],"responses":{"200":{"description":"OK"}}}}},"components":{"securitySchemes":{"apiKey":{"type":"apiKey","in":"header","name":"X-Api-Key"},"bearer":{"type":"http","scheme":"bearer","description":"Authorization: Bearer <API_KEY>"}},"schemas":{"clientes":{"type":"object","description":"Empresas y personas contratantes. Es la entidad raíz: presupuestos, proyectos y contratos cuelgan de acá.","properties":{"id":{"type":"string","description":"columna SQL: id"},"companyName":{"type":"string","description":"columna SQL: company_name"},"rut":{"type":"string","description":"columna SQL: rut"},"billingRut":{"type":"string","description":"columna SQL: billing_rut"},"contactName":{"type":"string","description":"columna SQL: contact_name"},"contactEmail":{"type":"string","description":"columna SQL: contact_email"},"contactPhone":{"type":"string","description":"columna SQL: contact_phone"},"address":{"type":"string","description":"columna SQL: address"},"closerId":{"type":"string","description":"columna SQL: closer_id"},"createdAt":{"type":"string","format":"date-time","description":"columna SQL: created_at"}}},"presupuestos":{"type":"object","description":"Cotizaciones enviadas al cliente. Al aprobarse generan proyecto y, si corresponde, contrato de servicio y contrato de mantenimiento.","properties":{"id":{"type":"string","description":"columna SQL: id"},"clientId":{"type":"string","description":"columna SQL: client_id"},"status":{"type":"string","enum":["DRAFT","SENT","VIEWED","APPROVED","REJECTED","EXPIRED"],"description":"columna SQL: status"},"tokenUrl":{"type":"string","description":"columna SQL: token_url · sensible (requiere scope secrets)"},"subtotal":{"type":"integer","description":"columna SQL: subtotal"},"iva":{"type":"integer","description":"columna SQL: iva"},"total":{"type":"integer","description":"columna SQL: total"},"hasIVA":{"type":"integer","description":"columna SQL: has_iva"},"paymentModality":{"type":"string","enum":["STANDARD","MILESTONES","FULL_ADVANCE","INSTALLMENTS","CUSTOM"],"description":"columna SQL: payment_modality"},"installmentCount":{"type":"integer","description":"columna SQL: installment_count"},"customPaymentTerms":{"type":"string","description":"columna SQL: custom_payment_terms"},"maintenanceType":{"type":"string","enum":["NONE","TO_BE_DEFINED","CUSTOM"],"description":"columna SQL: maintenance_type"},"monthlyMaintenance":{"type":"integer","description":"columna SQL: monthly_maintenance"},"discount":{"type":"integer","description":"columna SQL: discount"},"couponId":{"type":"string","description":"columna SQL: coupon_id"},"notes":{"type":"string","description":"columna SQL: notes"},"validUntil":{"type":"string","format":"date-time","description":"columna SQL: valid_until"},"includeContract":{"type":"integer","description":"columna SQL: include_contract"},"closerId":{"type":"string","description":"columna SQL: closer_id"},"marginPercent":{"type":"integer","description":"columna SQL: margin_percent"},"marginTier":{"type":"string","description":"columna SQL: margin_tier"},"closerCommissionRate":{"type":"integer","description":"columna SQL: closer_commission_rate"},"closerCommission":{"type":"integer","description":"columna SQL: closer_commission"},"createdAt":{"type":"string","format":"date-time","description":"columna SQL: created_at"},"updatedAt":{"type":"string","format":"date-time","description":"columna SQL: updated_at"}}},"proyectos":{"type":"object","description":"Trabajo en ejecución nacido de un presupuesto aprobado. Avanza por fases MOCKUP → DEVELOPMENT → QA → DELIVERY → COMPLETED.","properties":{"id":{"type":"string","description":"columna SQL: id"},"proposalId":{"type":"string","description":"columna SQL: proposal_id"},"clientId":{"type":"string","description":"columna SQL: client_id"},"name":{"type":"string","description":"columna SQL: name"},"status":{"type":"string","enum":["MOCKUP","DEVELOPMENT","QA","DELIVERY","COMPLETED"],"description":"columna SQL: status"},"repositoryUrl":{"type":"string","description":"columna SQL: repository_url"},"totalValue":{"type":"integer","description":"columna SQL: total_value"},"monthlyMaintenance":{"type":"integer","description":"columna SQL: monthly_maintenance"},"assignedDeveloperId":{"type":"string","description":"columna SQL: assigned_developer_id"},"developerPayment":{"type":"integer","description":"columna SQL: developer_payment"},"aiCostBudget":{"type":"integer","description":"columna SQL: ai_cost_budget"},"deadlineDays":{"type":"integer","description":"columna SQL: deadline_days"},"deadlineStartDate":{"type":"string","format":"date-time","description":"columna SQL: deadline_start_date"},"driveFolderUrl":{"type":"string","description":"columna SQL: drive_folder_url"},"createdAt":{"type":"string","format":"date-time","description":"columna SQL: created_at"}}},"tareas":{"type":"object","description":"Checklist por fase de cada proyecto; define el % de avance visible en el portal del cliente.","properties":{"id":{"type":"string","description":"columna SQL: id"},"projectId":{"type":"string","description":"columna SQL: project_id"},"assignedTo":{"type":"string","description":"columna SQL: assigned_to"},"proposalItemId":{"type":"string","description":"columna SQL: proposal_item_id"},"title":{"type":"string","description":"columna SQL: title"},"description":{"type":"string","description":"columna SQL: description"},"status":{"type":"string","description":"columna SQL: status"},"phase":{"type":"string","enum":["MOCKUP","DEVELOPMENT","QA","DELIVERY","COMPLETED"],"description":"columna SQL: phase"},"weight":{"type":"integer","description":"columna SQL: weight"},"visibleToClient":{"type":"integer","description":"columna SQL: visible_to_client"},"freelancerCost":{"type":"integer","description":"columna SQL: freelancer_cost"},"completedAt":{"type":"string","format":"date-time","description":"columna SQL: completed_at"},"createdAt":{"type":"string","format":"date-time","description":"columna SQL: created_at"}}},"bitacora":{"type":"object","description":"Avances publicados al cliente (texto + imágenes + videos) por fase.","properties":{"id":{"type":"string","description":"columna SQL: id"},"projectId":{"type":"string","description":"columna SQL: project_id"},"title":{"type":"string","description":"columna SQL: title"},"content":{"type":"string","description":"columna SQL: content · texto largo (usar ?incluirContenido=1)"},"phase":{"type":"string","enum":["MOCKUP","DEVELOPMENT","QA","DELIVERY","COMPLETED"],"description":"columna SQL: phase"},"imageUrls":{"type":"array","items":{"type":"string"},"description":"columna SQL: image_urls"},"videoUrls":{"type":"array","items":{"type":"string"},"description":"columna SQL: video_urls"},"createdAt":{"type":"string","format":"date-time","description":"columna SQL: created_at"}}},"contratos_servicio":{"type":"object","description":"Acuerdos de servicio firmados electrónicamente por el cliente, ligados a un presupuesto.","properties":{"id":{"type":"string","description":"columna SQL: id"},"proposalId":{"type":"string","description":"columna SQL: proposal_id"},"templateId":{"type":"string","description":"columna SQL: template_id"},"tokenUrl":{"type":"string","description":"columna SQL: token_url · sensible (requiere scope secrets)"},"status":{"type":"string","enum":["DRAFT","PENDING_SIGNATURE","SIGNED","EXPIRED"],"description":"columna SQL: status"},"clientCompanyName":{"type":"string","description":"columna SQL: client_company_name"},"clientRut":{"type":"string","description":"columna SQL: client_rut"},"clientRepresentativeName":{"type":"string","description":"columna SQL: client_representative_name"},"clientRepresentativeRut":{"type":"string","description":"columna SQL: client_representative_rut"},"content":{"type":"string","description":"columna SQL: content · texto largo (usar ?incluirContenido=1)"},"signedAt":{"type":"string","format":"date-time","description":"columna SQL: signed_at"},"signedByName":{"type":"string","description":"columna SQL: signed_by_name"},"signedByEmail":{"type":"string","description":"columna SQL: signed_by_email"},"signedByIp":{"type":"string","description":"columna SQL: signed_by_ip"},"signatureType":{"type":"string","enum":["DRAWN","UPLOAD","TYPED"],"description":"columna SQL: signature_type"},"signatureData":{"type":"string","description":"columna SQL: signature_data · sensible (requiere scope secrets)"},"signatureImageUrl":{"type":"string","description":"columna SQL: signature_image_url"},"signedPdfUrl":{"type":"string","description":"columna SQL: signed_pdf_url"},"validUntil":{"type":"string","format":"date-time","description":"columna SQL: valid_until"},"createdAt":{"type":"string","format":"date-time","description":"columna SQL: created_at"},"updatedAt":{"type":"string","format":"date-time","description":"columna SQL: updated_at"}}},"contratos_mantenimiento":{"type":"object","description":"Servicios recurrentes mensuales (hosting, soporte, bundle, licencia). Generan la facturación mensual y el MRR.","properties":{"id":{"type":"string","description":"columna SQL: id"},"projectId":{"type":"string","description":"columna SQL: project_id"},"clientId":{"type":"string","description":"columna SQL: client_id"},"serviceType":{"type":"string","description":"columna SQL: service_type"},"monthlyPrice":{"type":"integer","description":"columna SQL: monthly_price"},"hasIVA":{"type":"integer","description":"columna SQL: has_iva"},"status":{"type":"string","description":"columna SQL: status"},"licenseKey":{"type":"string","description":"columna SQL: license_key · sensible (requiere scope secrets)"},"startDate":{"type":"string","format":"date-time","description":"columna SQL: start_date"},"endDate":{"type":"string","format":"date-time","description":"columna SQL: end_date"},"notes":{"type":"string","description":"columna SQL: notes"},"notifyPhones":{"type":"array","items":{"type":"string"},"description":"columna SQL: notify_phones"},"notifyEmails":{"type":"array","items":{"type":"string"},"description":"columna SQL: notify_emails"},"lastPaymentReminderSent":{"type":"string","format":"date-time","description":"columna SQL: last_payment_reminder_sent"},"lastWhatsappReminderSent":{"type":"string","format":"date-time","description":"columna SQL: last_whatsapp_reminder_sent"},"createdAt":{"type":"string","format":"date-time","description":"columna SQL: created_at"}}},"pagos_mantenimiento":{"type":"object","description":"Cuota mensual por contrato (mes/año), con estado de cobranza y fecha de vencimiento.","properties":{"id":{"type":"string","description":"columna SQL: id"},"contractId":{"type":"string","description":"columna SQL: contract_id"},"month":{"type":"integer","description":"columna SQL: month"},"year":{"type":"integer","description":"columna SQL: year"},"amount":{"type":"integer","description":"columna SQL: amount"},"status":{"type":"string","enum":["PENDING","PAID","LATE","WAIVED"],"description":"columna SQL: status"},"dueDate":{"type":"string","format":"date-time","description":"columna SQL: due_date"},"paidAt":{"type":"string","format":"date-time","description":"columna SQL: paid_at"},"notes":{"type":"string","description":"columna SQL: notes"},"createdAt":{"type":"string","format":"date-time","description":"columna SQL: created_at"},"updatedAt":{"type":"string","format":"date-time","description":"columna SQL: updated_at"}}},"contratos_laborales":{"type":"object","description":"Contratos del equipo interno (desarrolladores, closers) con firma electrónica.","properties":{"id":{"type":"string","description":"columna SQL: id"},"developerId":{"type":"string","description":"columna SQL: developer_id"},"tokenUrl":{"type":"string","description":"columna SQL: token_url · sensible (requiere scope secrets)"},"status":{"type":"string","enum":["DRAFT","SENT","SIGNED"],"description":"columna SQL: status"},"title":{"type":"string","description":"columna SQL: title"},"content":{"type":"string","description":"columna SQL: content · texto largo (usar ?incluirContenido=1)"},"signedAt":{"type":"string","format":"date-time","description":"columna SQL: signed_at"},"signedByName":{"type":"string","description":"columna SQL: signed_by_name"},"signedByEmail":{"type":"string","description":"columna SQL: signed_by_email"},"signedByIp":{"type":"string","description":"columna SQL: signed_by_ip"},"signatureType":{"type":"string","description":"columna SQL: labor_signature_type"},"signatureData":{"type":"string","description":"columna SQL: labor_signature_data · sensible (requiere scope secrets)"},"signatureImageUrl":{"type":"string","description":"columna SQL: labor_signature_image_url"},"createdAt":{"type":"string","format":"date-time","description":"columna SQL: created_at"},"updatedAt":{"type":"string","format":"date-time","description":"columna SQL: updated_at"}}},"adicionales":{"type":"object","description":"Ampliaciones cotizadas sobre un proyecto en curso, con su propio mini-contrato y aprobación del cliente.","properties":{"id":{"type":"string","description":"columna SQL: id"},"projectId":{"type":"string","description":"columna SQL: project_id"},"title":{"type":"string","description":"columna SQL: title"},"description":{"type":"string","description":"columna SQL: description"},"subtotal":{"type":"integer","description":"columna SQL: subtotal"},"iva":{"type":"integer","description":"columna SQL: iva"},"total":{"type":"integer","description":"columna SQL: total"},"hasIVA":{"type":"integer","description":"columna SQL: has_iva"},"contractContent":{"type":"string","description":"columna SQL: contract_content · texto largo (usar ?incluirContenido=1)"},"status":{"type":"string","enum":["DRAFT","SENT","APPROVED","REJECTED"],"description":"columna SQL: status"},"tokenUrl":{"type":"string","description":"columna SQL: token_url · sensible (requiere scope secrets)"},"clientNote":{"type":"string","description":"columna SQL: client_note"},"createdAt":{"type":"string","format":"date-time","description":"columna SQL: created_at"},"respondedAt":{"type":"string","format":"date-time","description":"columna SQL: responded_at"},"paidAt":{"type":"string","format":"date-time","description":"columna SQL: paid_at"}}},"pagos":{"type":"object","description":"Abonos recibidos por proyecto (transferencia, efectivo, tarjeta).","properties":{"id":{"type":"string","description":"columna SQL: id"},"projectId":{"type":"string","description":"columna SQL: project_id"},"amount":{"type":"integer","description":"columna SQL: amount"},"paymentMethod":{"type":"string","enum":["TRANSFERENCIA","EFECTIVO","TARJETA","OTRO"],"description":"columna SQL: payment_method"},"description":{"type":"string","description":"columna SQL: description"},"hasIVA":{"type":"integer","description":"columna SQL: has_iva"},"paymentDate":{"type":"string","format":"date-time","description":"columna SQL: payment_date"},"createdAt":{"type":"string","format":"date-time","description":"columna SQL: created_at"}}},"ingresos":{"type":"object","description":"Ingresos que no vienen de un proyecto (asesorías, ventas puntuales).","properties":{"id":{"type":"string","description":"columna SQL: id"},"amount":{"type":"integer","description":"columna SQL: amount"},"category":{"type":"string","description":"columna SQL: category"},"description":{"type":"string","description":"columna SQL: description"},"clientName":{"type":"string","description":"columna SQL: client_name"},"hasIVA":{"type":"integer","description":"columna SQL: has_iva"},"date":{"type":"string","format":"date-time","description":"columna SQL: date"},"createdAt":{"type":"string","format":"date-time","description":"columna SQL: created_at"}}},"gastos":{"type":"object","description":"Egresos operativos (ads, software, otros).","properties":{"id":{"type":"string","description":"columna SQL: id"},"amount":{"type":"integer","description":"columna SQL: amount"},"category":{"type":"string","description":"columna SQL: category"},"description":{"type":"string","description":"columna SQL: description"},"date":{"type":"string","format":"date-time","description":"columna SQL: date"},"createdAt":{"type":"string","format":"date-time","description":"columna SQL: created_at"}}},"documentos_tributarios":{"type":"object","description":"Boletas y facturas electrónicas emitidas, con folio, PDF y estado de emisión.","properties":{"id":{"type":"string","description":"columna SQL: id"},"wasabilDocument":{"type":"string","description":"columna SQL: wasabil_document"},"wasabilUuid":{"type":"string","description":"columna SQL: wasabil_uuid"},"siiDocumentTypeCode":{"type":"integer","description":"columna SQL: sii_document_type_code"},"siiDocumentTypeName":{"type":"string","description":"columna SQL: sii_document_type_name"},"folio":{"type":"integer","description":"columna SQL: folio"},"status":{"type":"string","description":"columna SQL: status"},"statusId":{"type":"integer","description":"columna SQL: status_id"},"errorCode":{"type":"string","description":"columna SQL: error_code"},"displayError":{"type":"string","description":"columna SQL: display_error"},"receiverRut":{"type":"string","description":"columna SQL: receiver_rut"},"receiverName":{"type":"string","description":"columna SQL: receiver_name"},"receiverEmail":{"type":"string","description":"columna SQL: receiver_email"},"receiverAddress":{"type":"string","description":"columna SQL: receiver_address"},"receiverComuna":{"type":"string","description":"columna SQL: receiver_comuna"},"receiverCity":{"type":"string","description":"columna SQL: receiver_city"},"receiverGiro":{"type":"string","description":"columna SQL: receiver_giro"},"currencySymbol":{"type":"string","description":"columna SQL: currency_symbol"},"paymentMethod":{"type":"string","description":"columna SQL: payment_method"},"subtotal":{"type":"integer","description":"columna SQL: subtotal"},"iva":{"type":"integer","description":"columna SQL: iva"},"total":{"type":"integer","description":"columna SQL: total"},"details":{"type":"object","description":"columna SQL: details · texto largo (usar ?incluirContenido=1)"},"references":{"type":"object","description":"columna SQL: references · texto largo (usar ?incluirContenido=1)"},"sourceType":{"type":"string","description":"columna SQL: source_type"},"sourceId":{"type":"string","description":"columna SQL: source_id"},"invoiceReference":{"type":"string","description":"columna SQL: invoice_reference"},"pdfUrl":{"type":"string","description":"columna SQL: pdf_url"},"xmlUrl":{"type":"string","description":"columna SQL: xml_url"},"documentDate":{"type":"string","description":"columna SQL: document_date"},"rawResponse":{"type":"object","description":"columna SQL: raw_response · texto largo (usar ?incluirContenido=1)"},"retryCount":{"type":"integer","description":"columna SQL: retry_count"},"lastRetryAt":{"type":"string","format":"date-time","description":"columna SQL: last_retry_at"},"createdAt":{"type":"string","format":"date-time","description":"columna SQL: created_at"}}},"leads":{"type":"object","description":"Solicitudes entrantes desde formularios, WhatsApp y campañas. Origen del embudo comercial.","properties":{"id":{"type":"string","description":"columna SQL: id"},"name":{"type":"string","description":"columna SQL: name"},"email":{"type":"string","description":"columna SQL: email"},"phone":{"type":"string","description":"columna SQL: phone"},"company":{"type":"string","description":"columna SQL: company"},"message":{"type":"string","description":"columna SQL: message · texto largo (usar ?incluirContenido=1)"},"serviceInterest":{"type":"string","description":"columna SQL: service_interest"},"requestType":{"type":"string","description":"columna SQL: request_type"},"status":{"type":"string","enum":["NEW","PENDING","CONTACTED","CONVERTED","NOT_RELEVANT","CLOSED"],"description":"columna SQL: status"},"notes":{"type":"string","description":"columna SQL: notes"},"createdAt":{"type":"string","format":"date-time","description":"columna SQL: created_at"}}},"servicios":{"type":"object","description":"Servicios base con precio y costo, usados para armar los presupuestos.","properties":{"id":{"type":"string","description":"columna SQL: id"},"name":{"type":"string","description":"columna SQL: name"},"description":{"type":"string","description":"columna SQL: description"},"basePrice":{"type":"integer","description":"columna SQL: base_price"},"costPrice":{"type":"integer","description":"columna SQL: cost_price"},"isCustomizable":{"type":"integer","description":"columna SQL: is_customizable"}}},"pedidos":{"type":"object","description":"Compras autoservicio (checkout MercadoPago) con datos fiscales y estado de pago.","properties":{"id":{"type":"string","description":"columna SQL: id"},"orderNumber":{"type":"string","description":"columna SQL: order_number"},"status":{"type":"string","enum":["PENDING","PAYMENT_PENDING","PAID","INTAKE_DONE","CANCELLED","REFUNDED"],"description":"columna SQL: status"},"customerEmail":{"type":"string","description":"columna SQL: customer_email"},"customerName":{"type":"string","description":"columna SQL: customer_name"},"customerPhone":{"type":"string","description":"columna SQL: customer_phone"},"billingRut":{"type":"string","description":"columna SQL: billing_rut"},"billingRazonSocial":{"type":"string","description":"columna SQL: billing_razon_social"},"billingAddress":{"type":"string","description":"columna SQL: billing_address"},"billingGiro":{"type":"string","description":"columna SQL: billing_giro"},"billingComuna":{"type":"string","description":"columna SQL: billing_comuna"},"billingCiudad":{"type":"string","description":"columna SQL: billing_ciudad"},"subtotalNeto":{"type":"integer","description":"columna SQL: subtotal_neto"},"couponId":{"type":"string","description":"columna SQL: coupon_id"},"couponCode":{"type":"string","description":"columna SQL: coupon_code"},"discountAmount":{"type":"integer","description":"columna SQL: discount_amount"},"ivaRate":{"type":"integer","description":"columna SQL: iva_rate"},"ivaAmount":{"type":"integer","description":"columna SQL: iva_amount"},"totalAmount":{"type":"integer","description":"columna SQL: total_amount"},"mpPreferenceId":{"type":"string","description":"columna SQL: mp_preference_id · sensible (requiere scope secrets)"},"mpInitPoint":{"type":"string","description":"columna SQL: mp_init_point · sensible (requiere scope secrets)"},"source":{"type":"string","description":"columna SQL: source"},"clientId":{"type":"string","description":"columna SQL: client_id"},"termsAcceptedAt":{"type":"string","format":"date-time","description":"columna SQL: terms_accepted_at"},"expiresAt":{"type":"string","format":"date-time","description":"columna SQL: expires_at"},"paidAt":{"type":"string","format":"date-time","description":"columna SQL: paid_at"},"createdAt":{"type":"string","format":"date-time","description":"columna SQL: created_at"},"accessToken":{"type":"string","description":"columna SQL: access_token · sensible (requiere scope secrets)"}}},"solicitudes_cambio":{"type":"object","description":"Pedidos del cliente desde su portal sobre un proyecto en curso.","properties":{"id":{"type":"string","description":"columna SQL: id"},"projectId":{"type":"string","description":"columna SQL: project_id"},"clientId":{"type":"string","description":"columna SQL: client_id"},"message":{"type":"string","description":"columna SQL: message"},"status":{"type":"string","enum":["PENDING","IN_PROGRESS","COMPLETED","REJECTED"],"description":"columna SQL: status"},"adminResponse":{"type":"string","description":"columna SQL: admin_response"},"createdAt":{"type":"string","format":"date-time","description":"columna SQL: created_at"},"resolvedAt":{"type":"string","format":"date-time","description":"columna SQL: resolved_at"}}},"ofertas_cierre":{"type":"object","description":"Oferta que se presenta al entregar el proyecto para convertirlo en contrato de mantenimiento.","properties":{"id":{"type":"string","description":"columna SQL: id"},"projectId":{"type":"string","description":"columna SQL: project_id"},"clientId":{"type":"string","description":"columna SQL: client_id"},"hostingPrice":{"type":"integer","description":"columna SQL: hosting_price"},"supportPrice":{"type":"integer","description":"columna SQL: support_price"},"bundlePrice":{"type":"integer","description":"columna SQL: bundle_price"},"acceptedBundle":{"type":"integer","description":"columna SQL: accepted_bundle"},"selectedService":{"type":"string","description":"columna SQL: selected_service"},"couponId":{"type":"string","description":"columna SQL: coupon_id"},"respondedAt":{"type":"string","format":"date-time","description":"columna SQL: responded_at"},"createdAt":{"type":"string","format":"date-time","description":"columna SQL: created_at"}}},"colaboradores":{"type":"object","description":"Miembros internos del equipo. Nunca se exponen credenciales.","properties":{"id":{"type":"string","description":"columna SQL: id"},"email":{"type":"string","description":"columna SQL: email"},"name":{"type":"string","description":"columna SQL: name"},"role":{"type":"string","description":"columna SQL: role"},"salary":{"type":"integer","description":"columna SQL: salary"},"isActive":{"type":"integer","description":"columna SQL: is_active"},"createdAt":{"type":"string","format":"date-time","description":"columna SQL: created_at"}}},"Paginacion":{"type":"object","properties":{"limite":{"type":"integer"},"offset":{"type":"integer"},"total":{"type":"integer"},"hayMas":{"type":"boolean"},"siguiente":{"type":["string","null"]}}},"Error":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"mensaje":{"type":"string"}}}},"responses":{"NoAutorizado":{"description":"Credencial faltante o inválida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"RateLimit":{"description":"Se superó el límite de solicitudes por minuto","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}}